
@{
    ViewBag.Title = "Accounting";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/myScript/script.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Student's Accounting System</h2>
        </div>
        <div class="col-md-5">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DataModal" id="btnClick">Add student</button>
        </div>
    </div>
    <table id="CustomerTable" class="table table-borderless table-hover">
        <thead class="table-danger">
            <tr>
                <th scope="col">CODE</th>
                <th scope="col">COURSE</th>
                <th scope="col">REGISTRATION</th>
                <th scope="col">MISC</th>
                <th scope="col">LAB FEE</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="DataModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Add new student</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form>
                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="tv" class="col-form-label">ID Number</label>
                                    <input type="number" class="form-control" name="user" />
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="vcr" class="col-form-label">Last Name</label>
                                    <input type="text" class="form-control" name="user" />
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="remote controller" class="col-form-label">First Name</label>
                                    <input type="text" class="form-control" name="user" />
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="remote controller" class="col-form-label">Gender</label>
                                    <select id="sel_gender" class="form-control">
                                        <option selected disabled>Select Gender</option>
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                        <option value="2">Others</option>
                                    </select>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="tape recorders" class="col-form-label">Course Code</label>
                                    <select id="sel_ccode" class="form-control">
                                        <option selected disabled>Select Course code</option>
                                        <option value="0">0001</option>
                                        <option value="1">0002</option>
                                        <option value="2">0003</option>
                                        <option value="3">0004</option>
                                        <option value="4">0005</option>
                                        <option value="5">0006</option>
                                        <option value="6">0007</option>
                                        <option value="7">0008</option>
                                    </select>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="remote controller" class="col-form-label">Course</label>
                                    <input type="text" class="form-control" name="user" id="course" disabled/>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="tape recorders" class="col-form-label">Year</label>
                                    <select id="sel_year" class="form-control">
                                        <option selected disabled>Year Level</option>
                                        <option value="0">1</option>
                                        <option value="1">2</option>
                                        <option value="2">3</option>
                                        <option value="3">4</option>
                                    </select>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="tape recorders" class="col-form-label">Subjects</label>
                                    <input type="number" class="form-control" name="user" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Calculate</button>
                </div>
            </div>
        </div>
    </div>
</div>


