@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Accounting Page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col">
            <h2>Student's Accounting System</h2>
        </div>
        <div class="col-md-5 d-flex align-items-end flex-column">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DataModal" id="btnClick">Add student</button>
        </div>
    </div>
    <table id="CustomerTable" class="table table-borderless table-stipped table-hover" data-url="/Home/StudentEntry" data-side-pagination="client" data-toggle="table" data-pagination="true" data-show-toggle="true" data-show-columns="true">
        <thead class="table-danger">
            <tr>
                <th scope="col">ID Number</th>
                <th scope="col">Total tuition</th>
                <th scope="col">Prelim Fee</th>
                <th scope="col">Midterm Fee</th>
                <th scope="col">Semifinal Fee   </th>
                <th scope="col">Total Fees</th>
                <th scope="col">Mode of Payment</th>
                <th scope="col">Ammount Tendered</th>
                <th scope="col">Change</th>
                <th score="col">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="DataModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add new student</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" data-bs-dismiss="modal">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="student">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-5 mb-3">
                                    <label for="tv" class="col-form-label">ID Number</label>
                                    <input type="number" class="form-control" name="user" required />
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="vcr" class="col-form-label">Last Name</label>
                                    <input type="text" class="form-control" name="user" required />
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="remote controller" class="col-form-label">First Name</label>
                                    <input type="text" class="form-control" name="user" required />
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="remote controller" class="col-form-label">Gender</label>
                                    <select id="sel_gender" class="form-control" required>
                                        <option selected disabled>Select Gender</option>
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                        <option value="2">Others</option>
                                    </select>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="tape recorders" class="col-form-label">Course Code</label>
                                    <select id="sel_ccode" class="form-control" required>
                                        <option selected disabled>Select Course code</option>
                                        <option value="0">0001</option>
                                        <option value="1">0002</option>
                                        <option value="2">0003</option>
                                        <option value="3">0004</option>
                                        <option value="4">0005</option>
                                        <option value="5">0006</option>
                                        <option value="6">0007</option>
                                        <option value="7">0008</option>
                                    </select>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="remote controller" class="col-form-label">Course</label>
                                    <input type="text" class="form-control" name="user" id="course" disabled required />
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="tape recorders" class="col-form-label">Year</label>
                                    <select id="sel_year" class="form-control" required>
                                        <option selected disabled>Year Level</option>
                                        <option value="0">1</option>
                                        <option value="1">2</option>
                                        <option value="2">3</option>
                                        <option value="3">4</option>
                                    </select>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="tape recorders" class="col-form-label">Subjects</label>
                                    <input type="number" class="form-control" name="user" required />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Calculate</button>
                </div>
            </div>
        </div>
    </div>



    <!--
        Modal for payment
    -->
    <div id="DataModal2" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Student Payment</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" data-bs-dismiss="modal">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="pay">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-5 mb-3">
                                    <label for="remote controller" class="col-form-label">Select Assessment</label>
                                    <select id="sel_assessment" class="form-control" required>
                                        <option selected disabled>Assessment</option>
                                        <option value="0">Prelim</option>
                                        <option value="1">Midterm</option>
                                        <option value="2">Semifinal</option>
                                        <option value="2">Final</option>
                                    </select>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="total_amount" class="col-form-label">Total amount</label>
                                    <input type="text" class="form-control" name="user" id="total_amount" disabled required />
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col mb-3 float-center">
                                    <h3 class="text-center" id="translate">WanBilyon Tawsan Pitot</h3>
                                    </div>
                                </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col mb-3">
                                    <label for="amount_tendered" class="col-form-label">Amount Tendered</label>
                                    <input type="text" class="form-control" name="user" id="amount_tendered" required />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
